section.map 
  .container.map__container 
    .layout.map__layout 
      h2.heading.heading--2.map__heading Service Map
      ul.ul-reset.map__list.list-map 
        li.list-map__item 
          h3.heading.heading--3.list-map__heading IT consulting
          ul.list-map__list.list-list-map 
            li.list-list-map__item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit viverra porta tortor, elementum ultrices. Blandit quam nec aliquam.
            li.list-list-map__item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit viverra porta tortor, elementum ultrices. Blandit quam nec aliquam.
        li.list-map__item 
          h3.heading.heading--3.list-map__heading Software Development
          ul.list-map__list.list-list-map 
            li.list-list-map__item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit viverra porta tortor, elementum ultrices. Blandit quam nec aliquam.
            li.list-list-map__item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit viverra porta tortor, elementum ultrices. Blandit quam nec aliquam.
        li.list-map__item 
          h3.heading.heading--3.list-map__heading Testing and QA
          ul.list-map__list.list-list-map 
            li.list-list-map__item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit viverra porta tortor, elementum ultrices. Blandit quam nec aliquam.
            li.list-list-map__item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit viverra porta tortor, elementum ultrices. Blandit quam nec aliquam.
      a.link.map__link(href="#" title="View All Services") View All Services