section.about 
  .container.about__container 
    .layout.about__layout 
      h2.heading.heading--2.about__heading About Company
      p.paragraph.about__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget duis mi nunc bibendum. Tellus elementum nec lorem eget dictumst. Risus in gravida eu, enim lorem. Sed consequat ut suspendisse eros. Nunc nunc accumsan, viverra enim. Mi.