.about

  &__layout
    border-radius: 500px
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 400px
    margin-bottom: 88px
    padding: 25px
    background: var( --color-card-one )

  &__heading
    border-right: 3px solid var( --color-card-border )
    border-top-left-radius: 500px
    border-bottom-left-radius: 500px
    display: flex
    align-items: center
    align-self: stretch
    flex-basis: 350px
    flex-shrink: 0
    margin-right: 108px
    padding: 73px
    background: #fff
    overflow: hidden

  &__paragraph
    padding-right: 152px
    color: var( --color-text-alternative )
    font-size: .917rem
    line-height: 1.818

@media screen and ( max-width: 1439px )
  .about

    &__layout
      margin-bottom: 40px
      min-height: 250px

    &__heading
      margin-right: 50px
      padding: 40px

    &__paragraph
      padding-right: 40px

@media screen and ( max-width: 1023px )
  .about

    &__heading
      flex-basis: 230px

@media screen and ( max-width: 767px )
  .about

    &__layout
      border-radius: 0
      display: block
      margin-bottom: 20px
      padding: 40px 15px

    &__heading
      border: none
      border-radius: 0
      display: block
      margin: 0 0 20px 0
      padding: 0
      background: none
      text-align: center

    &__paragraph
      padding: 0