.link
  position: relative
  color: var( --color-heading )
  font-size: .83rem
  font-weight: 500
  line-height: 1.145
  text-decoration: none

  &::after
    content: ''
    position: absolute
    bottom: .3em
    left: 0
    height: .08em
    width: 100%
    background: var( --color-heading )

  &--nav
    color: var( --color-text-menu )
    text-decoration: none
    white-space: nowrap

    &::after
      content: none