.footer

  &__layout
    display: flex 
    align-items: center
    padding: 36px 63px
    background: var( --color-text-menu )

  &__site-name, &__copyright
    color: #fff
    font-size: .833rem

  &__copyright
    flex-grow: 1
    text-align: center