.card

  &__body
    padding: 55px 119px 60px
    background-repeat: no-repeat
    background-size: 26vw

  &__body--right
    border-top-right-radius: 500px
    border-bottom-right-radius: 500px
    background-color: var( --color-card-two )
    background-image: url('../img/services/bg-1.svg')
    background-position: right 119px top 50%


  &__body--left
    border-top-left-radius: 500px
    border-bottom-left-radius: 500px
    background-color: var( --color-card-three )
    background-image: url('../img/services/bg-2.svg')
    background-position: left 119px top 50%


  &__wrap
    display: flex
    align-items: center

  &__wrap--right
    justify-content: flex-start

  &__wrap--left
    justify-content: flex-end

  &__content
    max-width: 527px

  &__heading
    margin-bottom: 51px

  &__paragraph
    margin-bottom: 55px

@media screen and ( max-width: 1439px )
  .card

    &__body
      padding: 50px

      &--right
        background-position: right 80px top 50%

      &--left
        background-position: left 80px top 50%

    &__heading
      margin-bottom: 30px

    &__paragraph
      margin-bottom: 30px

    &__content
      max-width: 450px

@media screen and ( max-width: 1023px )
  .card

    &__content
      max-width: 350px

@media screen and ( max-width: 767px )
  .card

    &__body
      padding: 0
      border-radius: 0
      background-image: none

    &__content
      display: flex
      align-items: flex-start
      flex-direction: column
      padding: 40px 15px

    &__heading
      align-self: center

    &__paragraph
      align-self: center
      margin-bottom: 20px