.header
  background: var( --color-bg-one )

  &__layout
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 140px
    padding: 25px 0 45px

  &__logo
    height: 68px
    width: 92px
    margin-right: 40px

  &__nav
    flex-basis: 752px

  &__list
    display: flex
    justify-content: space-between

  &__sign-in
    margin-left: 40px

.list-header

  &__item:not(:last-child)
    margin-right: 40px