section.hero 
  .container.hero__container 
    .layout.hero__layout 
      h1.heading.heading--1.hero__heading Providing Industry Leading Solutions for
      p.paragraph.hero__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant cras morbi hendrerit nunc vel sapien. In habitasse at diam suspendisse non vitae fermentum, pharetra arcu. Viverra a morbi ut donec in. Ac diam, at sed cras nisi. 
      button.button.button--fullfiled.hero__button( type="button" ) Learn More